.container {
  height: 85vh;
}
.img {
  flex-wrap: wrap;
  width: 90vh;
  height: 70vh;
  /*background-image: url(../../../assets/Images/we2.jpeg);*/
  background-size: cover;
  margin-right: 8%;
}
h2 {
  color: rgb(0, 0, 0);
  border: 10cap;
  margin-bottom: 15%;
  margin-top: 30%;
  line-height: 1.6;
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  margin-top: 13%;
}
