<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="panel">
      <div class="cover-photo">
        <div class="fb-timeline-img">
          <img src="../../../assets/Images/wp6350592.jpg" alt="" />
        </div>
        <div class="fb-name">
          <h2 class=""><a href="#">Margarita Elina</a></h2>
        </div>
      </div>
      <div class="panel-body">
        <div class="profile-thumb">
          <img
            src="../../../assets/Images/person2.avif"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="panel profile-info">
      <form class="form w-50">
        <textarea
          class="form-control input-lg p-text-area"
          rows="2"
          placeholder="Whats in your mind today?"
        >
Do you have an adia?
        </textarea>
        <button type="button" class="btn btn-dark pull-right w-25">
          Add Post

        </button>
        <ul class="camera nav nav-pills">
          <li>
            <a href="#"><i class="fa fa-camera"></i></a>
          </li>
        </ul>
      </form>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="fb-user-thumb">
          <img
            src="../../../assets/Images/person2.avif"
            alt=""
          />
        </div>
        <div class="fb-user-details">
          <h3><a href="#" class="name">Margarita Elina</a></h3>
        </div>
        <div class="clearfix"></div>
        <p class="fb-user-status">
          John is world famous professional photographer. with forward thinking
          clients to create beautiful, honest and amazing things that bring
          positive results. John is world famous professional photographer. with
          forward thinking clients to create beautiful, honest and amazing
          things that bring positive results.
        </p>
        <img
          src="../../../../src/assets/Images/back (1).jpeg"
          class="figure"
          alt=""
        />
        <div class="fb-status-container fb-border">
          <div class="fb-time-action">
            <button class="a btn btn-outline-dark pull-left">Like</button>

            <button class="a btn btn-outline-dark pull-right">Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

