<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>



<a class="img-S btn behind" routerLink="/profile-user">
  <img
    src="https://i.imgur.com/UXdKE3o.jpg"
    alt="n"
    width="75"
    class="rounded-circle"
  />
</a>

<div class="container">
  <div id="main-content" class="blog-page">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-8 col-md-12 left-box">
          <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-body">
          <div class="fb-user-thumb">
            <img src="../../../assets/Images/person2.avif" alt="" />
          </div>
          <div class="fb-user-details">
            <h3><a href="#" class="name">Margarita Elina</a></h3>
          </div>
          <div class="clearfix"></div>
          <p class="fb-user-status">
            John is world famous professional photographer. with forward
            thinking clients to create beautiful, honest and amazing things that
            bring positive results. John is world famous professional
            photographer. with forward thinking clients to create beautiful,
            honest and amazing things that bring positive results.
          </p>
          <img
            src="../../../assets/Images/wallpaperflare.com_wallpaper (1).jpg"
            class="figure"
          />
          <div class="fb-status-container fb-border">
            <div class="fb-time-action">
              <button class="a btn btn-outline-dark pull-left">Like</button>

              <button class="a btn btn-outline-dark pull-right">Comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right col-md-4 bg-light">
      <h5>Invitations</h5>
      <hr />
      <div class="fb-user-thumb">
        <img src="../../../assets/Images/person1.avif" alt="" />
      </div>
      <div class="fb-user-details">
        <h3><a href="#" class="name">William Shaker</a></h3>
        <h6>Front End</h6>
      </div>
      <button class="BB btn btn-outline-success pull-left bg-gray text-bg-dark">
        Accept
      </button>
      <button class="B btn btn-light text-dark pull-right">Reject</button>
    </div>
  </div>
</div>
