<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="panel">
      <div class="cover-photo">
        <div class="fb-timeline-img">
          <img  class="cover left" src="../../../assets/Images/OIP.jpg" alt="" />
        </div>
        <div class="fb-name">
          <h2 class=""><a href="#">Margarita Elina</a></h2>
        </div>
      </div>
      <div class="panel-body">
        <div class="profile-thumb">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <div class="col-md-3 border-right">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <img
              class="rounded-circle mt-5"
              width="150px"
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
            /><span class="font-weight-bold">Edogaru</span
            ><span class="text-black-50">edogaru.com.my</span><span> </span>
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <div>
              <div class="W col-md-9">
                <label class="labels">Name</label
                ><input
                  type="text"
                  class="form-control"
                  placeholder="first name"
                  value=""
                />
              </div>
              <div class="W col-md-9">
                <label class="labels">Surname</label
                ><input
                  type="text"
                  class="form-control"
                  value=""
                  placeholder="surname"
                />
              </div>
            </div>

            <div>
              <div class="W col-md-9">
                <label class="labels">Email</label
                ><input
                  type="text"
                  class="form-control"
                  placeholder="email"
                  value=""
                />
              </div>
              <div class="">
                <label class="label">Update Profile picture</label
                ><input type="file" class="filee" value="" placeholder="state" />
              </div>
            </div>
            <div class="mt-5 text-center">
              <button
                class="bottonSave btn btn-primary profile-button w-75"
                type="button"
              >
                Save Profile
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-5">
            <div
              class="d-flex justify-content-between align-items-center experience"
            >
              <span>People you may know</span
              ><span class="border px-3 p-1 add-experience"
                ><i class="fa fa-plus bottonC"></i>&nbsp;Connect</span
              >
            </div>
            <br />
            <div class="right col-md-4 bg-light w-100">
              <h5>others youth</h5>
              <hr />
              <div class="fb-user-thumb m-3">
                <img src="../../../assets/Images/person1.avif" alt="" />
              </div>
              <div class="fb-user-details">
                <h3><a href="#" class="name">William Shaker</a></h3>
                <h6>Front End</h6>
              </div>
              <button
                class="BB btn btn-outline-success pull-right bottonC top-50"
              >
                Connect
              </button>
              <br />
              <hr />
              <div class="fb-user-thumb m-3">
                <img src="../../../assets/Images/person1.avif" alt="" />
              </div>
              <div class="fb-user-details">
                <h3><a href="#" class="name">William Shaker</a></h3>
                <h6>Front End</h6>
              </div>
              <button
                class="BB btn btn-outline-success pull-right bottonC top-50"
              >
                Connect
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
