/* CSS for the form container */
.form-container {
  width: 90%;
  margin-left:25%;
  /* background-color:#FAF9F6; */
  outline-color: #0c5ab4;
  height: 100%;
  margin-bottom: 15%;
  margin-top: 10%;
  border: #0c5ab4;
  padding: 2rem 2rem 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

/* CSS for form labels */
label {
  display: block;
  /* margin-bottom: 5px; */
  margin-right: 10%;

}

/* CSS for form input fields */
input[type="text"],
input[type="file"],
input[type="char"],
input[type="number"],
textarea[type="message"]
{
  width: 70%;
  padding: 8px;
  margin-bottom: 1%;
  margin-left: 5%;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

/* CSS for submit button */
button[type="submit"] {
  background-color:  #0c5ab4;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 25%;
  width: 30%;
  text-align: center;
}

/* CSS for submit button hover effect */
button[type="submit"]:hover {
  background-color: #0c5ab4;
}

/* CSS for error messages */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
